body {
    background: linear-gradient(to right, #d3cbcb, #7caeff); ;
}

#name {
    font-family: 'Nunito', sans-serif;
}

#self {
    text-align: center;
}
/* Nav Bar CSS */
#navbar {
    text-align: center;
    
}

/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */
.portfolio-grid {
    text-align: center;
}


/* Footer CSS */



/* Button CSS */


